{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": true,
    "printWidth": 80,
    "tabWidth": 4,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "useTabs": false,
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "proseWrap": "preserve",
    "overrides": [
        {
            "files": "*.ts",
            "options": {
                "parser": "typescript"
            }
        },
        {
            "files": "*.test.ts",
            "options": {
                "printWidth": 100
            }
        }
    ]
}
